# Importing the libraires

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Importing the data

In [3]:
data = pd.read_csv('restaurants_with_sentiment.csv')
data.head()

,Restaurant_Name,Category,Address,Province,Latitude,Longitude,Rating,Review,Sentiment_score,Sentiment
0,Wendy's (10365 111th Street),Fast food,"10365 111th Street, Edmonton, AB T5K 2V3",AB,53.545878,-113.510914,5,the food met my expectation the seating area w...,0.9607,Good
1,Wendy's (10365 111th Street),Fast food,"10365 111th Street, Edmonton, AB T5K 2V3",AB,53.545878,-113.510914,2,its a wendys their food is good better than mc...,0.1966,Bad
2,Wendy's (10365 111th Street),Fast food,"10365 111th Street, Edmonton, AB T5K 2V3",AB,53.545878,-113.510914,3,i love the taste of this food as it tastes lik...,0.8198,Good
3,Wendy's (10365 111th Street),Fast food,"10365 111th Street, Edmonton, AB T5K 2V3",AB,53.545878,-113.510914,5,this is the best wendys ive ever been to incre...,0.9287,Good
4,Wendy's (10365 111th Street),Fast food,"10365 111th Street, Edmonton, AB T5K 2V3",AB,53.545878,-113.510914,5,i been here so many times i never had a proble...,0.5613,Good

# checking the shape of dataset

In [4]:
data.shape

(5020, 10)

there are total 5020 samples with 10 features.

In [5]:
data.columns

Index(['Restaurant_Name', 'Category', 'Address', 'Province', 'Latitude',
       'Longitude', 'Rating', 'Review', 'Sentiment_score', 'Sentiment'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurant_Name  5020 non-null   object
 1   Category         5020 non-null   object
 2   Address          5020 non-null   object
 3   Province         5020 non-null   object
 4   Latitude         5020 non-null   float64
 5   Longitude        5020 non-null   float64
 6   Rating           5020 non-null   int64
 7   Review           5009 non-null   object
 8   Sentiment_score  5020 non-null   float64
 9   Sentiment        5020 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 392.3+ KB

#2. Data Cleaning
# 2.1 checking the missing values

In [7]:
data.isnull().sum()

Restaurant_Name     0
Category            0
Address             0
Province            0
Latitude            0
Longitude           0
Rating              0
Review             11
Sentiment_score     0
Sentiment           0
dtype: int64

Review columns has 11 missing values so we will need to handle that

In [8]:
data.dropna(inplace = True)

In [10]:
data.isnull().sum()

Restaurant_Name    0
Category           0
Address            0
Province           0
Latitude           0
Longitude          0
Rating             0
Review             0
Sentiment_score    0
Sentiment          0
dtype: int64

Now there is no null value

# checking the duplicates & handling the duplicates values

In [11]:
data.duplicated().sum()

204

In [12]:
data.drop_duplicates(inplace = True)
data.duplicated().sum()

0