In [102]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [103]:
# Setting up the browser
browser = Browser('chrome')

In [104]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "red-deer-ab/"
url = base_url + location
browser.visit(url)

In [105]:
html = browser.html
soup = soup(html, 'html.parser')

In [107]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br iw c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                                     Restaurant Name
0                              McDonald's (Red Deer)
1                    Starbucks (DT Red Deer Village)
2   Popeyes Louisiana Kitchen (7414 50 Ave Red Deer)
3                                  A&W (50th Avenue)
4                             7-Eleven (3803 40 Ave)
..                                               ...
75             Quesada Burritos and Tacos (Red Deer)
76                               Gravy Boat (50 Ave)
77                                         Cafe Séne
78   King Donair Chicken Shawarma Mediterranean Food
79                   Mucho Burrito (69 Dunlop St #6)

[80 rows x 1 columns]

In [109]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd ix')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.0
1     4.7
2     4.5
3     4.6
4     4.6
..    ...
75    4.4
76    New
77    New
78    New
79    4.9

[80 rows x 1 columns]

In [110]:
# Address
res_Address = soup.find_all('div', class_='fz j5 al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0                   4840 52 Ave, Red Deer, AB T4N 6Y8
1                  6380 50th Avenue, Red Deer, AB T4N
2                7414 50 Avenue, Red Deer, AB T4P 1X7
3                 6320 50th Ave, 58, Red Deer, AB T4N
4                   3803 40 Ave, Red Deer, AB T4N 2W4
..                                                ...
75        2404 50 Ave, Unit 140, Red Deer, AB T4R 1M3
76  4807 50 Avenue, Unit #108 Red Deer, Ab T4n 4a5...
77        146 Erickson Drive, Red Deer, NAMER T4R 2C3
78                   4942 50 St, Red Deer, AB T4N 1X7
79                  69 Dunlop St #6, Red Deer, AB T4R

[80 rows x 1 columns]

In [111]:
# Category
res_category = soup.find_all('div', class_='al ii br iw c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('•')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                Category
0                Burgers
1                 Bakery
2               American
3              Fast food
4                  Wings
..                   ...
75              Burritos
76               Burgers
77  Breakfast and brunch
78         Mediterranean
79               Mexican

[80 rows x 1 columns]

In [112]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,McDonald's (Red Deer),4.0,Burgers,"4840 52 Ave, Red Deer, AB T4N 6Y8"
1,Starbucks (DT Red Deer Village),4.7,Bakery,"6380 50th Avenue, Red Deer, AB T4N"
2,Popeyes Louisiana Kitchen (7414 50 Ave Red Deer),4.5,American,"7414 50 Avenue, Red Deer, AB T4P 1X7"
3,A&W (50th Avenue),4.6,Fast food,"6320 50th Ave, 58, Red Deer, AB T4N"
4,7-Eleven (3803 40 Ave),4.6,Wings,"3803 40 Ave, Red Deer, AB T4N 2W4"

In [113]:
# Export the joined DataFrame to an Excel file
result.to_csv('red-deer-ab', index=False)

In [114]:
browser.quit()