In [29]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [30]:
# Setting up the browser
browser = Browser('chrome')

In [31]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "kitchener-on/"
url = base_url + location
browser.visit(url)

In [32]:
html = browser.html
soup = soup(html, 'html.parser')

In [33]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br iw c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                               Restaurant Name
0   Burger King #4923 (809 Victoria St. North)
1                       Pizza Express Stirling
2                           Nova Era Bakery #3
3                        SMK African Foods Inc
4   Galito's Flame Grilled Chicken (Kitchener)
..                                         ...
75            Burger Factory (550 Hespeler Rd)
76                                   iShawarma
77                      126 Chinese Restaurant
78                                  Ye's Sushi
79         Lazeez Shawarma (370 Highland Rd W)

[80 rows x 1 columns]

In [34]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd ix')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.6
1     4.3
2     4.8
3     New
4     New
..    ...
75    4.4
76    4.3
77    4.7
78    4.6
79    4.5

[80 rows x 1 columns]

In [36]:
# Address
res_Address = soup.find_all('div', class_='fz j5 al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                             Address
0          809 Victoria St. North, Kitchener, ON N2B
1   248 Stirling Avenue South 12a, Kitchener, ON N2M
2        376 King Street East, Kitchener, ON N2G 2L5
3            206-C King St E,, Kitchener, ON N2G 2L1
4         29 King Street East, Kitchener, ON N2G 2K4
..                                               ...
75       550 Hespeler Rd , Unit 2, Cambridge, ON N1R
76           66 Bridgeport Rd E, 6, Waterloo, ON N2J
77          2922 King St E, Kitchener, NAMER N2A 1A7
78          70 Sportsworld Dr, Kitchener, ON N2P 2J1
79          370 Highland Rd W, Kitchener, ON N2M 5J9

[80 rows x 1 columns]

In [37]:
# Category
res_category = soup.find_all('div', class_='al ii br iw c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

         Category
0        American
1           Pizza
2        American
3            Deli
4    Comfort food
..            ...
75          Pizza
76  Mediterranean
77          Asian
78          Sushi
79  Mediterranean

[80 rows x 1 columns]

In [38]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Burger King #4923 (809 Victoria St. North),4.6,American,"809 Victoria St. North, Kitchener, ON N2B"
1,Pizza Express Stirling,4.3,Pizza,"248 Stirling Avenue South 12a, Kitchener, ON N2M"
2,Nova Era Bakery #3,4.8,American,"376 King Street East, Kitchener, ON N2G 2L5"
3,SMK African Foods Inc,New,Deli,"206-C King St E,, Kitchener, ON N2G 2L1"
4,Galito's Flame Grilled Chicken (Kitchener),New,Comfort food,"29 King Street East, Kitchener, ON N2G 2K4"

In [39]:
# Export the joined DataFrame to an Excel file
result.to_csv('kitchener-on.csv', index=False)

In [40]:
browser.quit()