In [41]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [42]:
# Setting up the browser
browser = Browser('chrome')

In [43]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "lethbridge-ab/"
url = base_url + location
browser.visit(url)

In [44]:
html = browser.html
soup = soup(html, 'html.parser')

In [45]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br iw c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                                      Restaurant Name
0                 MrBeast Burger (313 5 Street South)
1               Burger King (1950 Third Avenue South)
2   Mary Brown's Chicken (1 - 413 Highlands Blvd. W.)
3                     2 For 1 Family Pizza Lethbridge
4                       Rivaaz Indian Pizza & Cuisine
..                                                ...
75               Rexall Drug Store (Aquitania Blvd W)
76                Thai Express (3010 26 Avenue South)
77                                  Apna tandoori hut
78                     Lighthouse Japanese Restaurant
79                                         Poke Shack

[80 rows x 1 columns]

In [46]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd ix')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     New
1     4.3
2     4.8
3     New
4     4.3
..    ...
75    New
76    New
77    New
78    4.8
79    4.5

[80 rows x 1 columns]

In [48]:
# Address
res_Address = soup.find_all('div', class_='fz j4 al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0   328 5 Street South, Lethbridge, Ab T1j 0h3, Ca...
1     1950 Third Avenue South, Lethbridge, AB T1J 0J6
2   413 Highlands Boulevard West, Lethbridge, NAME...
3             1281 3 Ave S, Lethbridge, NAMER T1J 0K2
4   1020 Mayor Magrath Drive South, Lethbridge, AB...
..                                                ...
75         20-12 Aquitania Blvd W, Lethbridge, AB T1J
76    3010 26 Avenue South, Lethbridge, NAMER T1K 7K8
77        1520 3 Avenue South, Lethbridge, AB T1J 0K8
78             708 3 Avenue South, Lethbridge, AB T1J
79             708 3 Ave S Lethbridge, Lethbridge T1J

[80 rows x 1 columns]

In [49]:
# Category
res_category = soup.find_all('div', class_='al ii br iw c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                Category
0               American
1               American
2                Chicken
3                  pizza
4                 Indian
..                   ...
75  Home & Personal Care
76               Healthy
77                Indian
78              Japanese
79               Healthy

[80 rows x 1 columns]

In [50]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,MrBeast Burger (313 5 Street South),New,American,"328 5 Street South, Lethbridge, Ab T1j 0h3, Ca..."
1,Burger King (1950 Third Avenue South),4.3,American,"1950 Third Avenue South, Lethbridge, AB T1J 0J6"
2,Mary Brown's Chicken (1 - 413 Highlands Blvd. W.),4.8,Chicken,"413 Highlands Boulevard West, Lethbridge, NAME..."
3,2 For 1 Family Pizza Lethbridge,New,pizza,"1281 3 Ave S, Lethbridge, NAMER T1J 0K2"
4,Rivaaz Indian Pizza & Cuisine,4.3,Indian,"1020 Mayor Magrath Drive South, Lethbridge, AB..."

In [51]:
# Export the joined DataFrame to an Excel file
result.to_csv('lethbridge-ab.csv', index=False)

In [52]:
browser.quit()