In [53]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [54]:
# Setting up the browser
browser = Browser('chrome')

In [55]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "peterborough-on/"
url = base_url + location
browser.visit(url)

In [56]:
html = browser.html
soup = soup(html, 'html.parser')

In [57]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br iw c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                        Restaurant Name
0           Ariyana Middle Eastern Food
1              The Dirty Burger Company
2               BrickHouse Craft Burger
3                           Pizza Kollo
4   Pizza Hut (705 George Street North)
..                                  ...
75    Mucho Burrito (867 Lansdowne St.)
76             TOKYO SUSHI PETERBOROUGH
77                          El Camino's
78                        Tapas & Tacos
79                            Chopstics

[80 rows x 1 columns]

In [58]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd ix')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.5
1     4.8
2     4.6
3     New
4     4.2
..    ...
75    New
76    4.6
77    4.7
78    New
79    4.0

[80 rows x 1 columns]

In [60]:
# Address
res_Address = soup.find_all('div', class_='fz j5 al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0          396 George St N, Peterborough, Ontario K9H
1        211 Hunter Street West, Peterborough, ON K9H
2            123 Simcoe St, Peterborough, Ontario K9H
3       230 Charlotte Street, Peterborough, NAMER K9J
4           705 George St N, Peterborough, ON K9H 3T1
..                                                ...
75  867 Lansdowne Street, Peterborough, NAMER K9J 1Z7
76              360 George St N, Peterborough, ON K9H
77  360 George Street North, Unit 56, Peterborough...
78       376 George St N, Peterborough, NAMER K9H 3R3
79  550 Lansdowne Street West, Peterborough, K9j 8j8,

[80 rows x 1 columns]

In [61]:
# Category
res_category = soup.find_all('div', class_='al ii br iw c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

         Category
0   Mediterranean
1         Burgers
2           Wings
3           Pizza
4           PIzza
..            ...
75      Fast Food
76          Sushi
77        Mexican
78     Vegetarian
79          Asian

[80 rows x 1 columns]

In [62]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Ariyana Middle Eastern Food,4.5,Mediterranean,"396 George St N, Peterborough, Ontario K9H"
1,The Dirty Burger Company,4.8,Burgers,"211 Hunter Street West, Peterborough, ON K9H"
2,BrickHouse Craft Burger,4.6,Wings,"123 Simcoe St, Peterborough, Ontario K9H"
3,Pizza Kollo,New,Pizza,"230 Charlotte Street, Peterborough, NAMER K9J"
4,Pizza Hut (705 George Street North),4.2,PIzza,"705 George St N, Peterborough, ON K9H 3T1"

In [63]:
# Export the joined DataFrame to an Excel file
result.to_csv('peterborough-on.csv', index=False)

In [64]:
browser.quit()