In [17]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [18]:
# Setting up the browser
browser = Browser('chrome')

In [19]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "greater-sudbury-on/"
url = base_url + location
browser.visit(url)

In [20]:
html = browser.html
soup = soup(html, 'html.parser')

In [ ]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br iw c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

In [6]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd j3')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.8
1     New
2     New
3     New
4     5.0
..    ...
75    4.8
76    4.4
77    4.4
78    4.8
79    4.7

[80 rows x 1 columns]

In [7]:
# Address
res_Address = soup.find_all('div', class_='fz jb al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0                  311 16 Ave Ne, Calgary, AB T2E 1K1
1      935 5 Avenue Southwest, Calgary, NAMER T2P 0N8
2   1411 17 Avenue Southwest Calgary, Ab T2t 0c3 C...
3    1515 14 Street Southwest, Calgary, NAMER T3C 1E1
4                   2042 42 Avenue Sw Calgary, Ab T2T
..                                                ...
75  233 Centre Street Southeast, 103, Calgary, AB T2P
76      630 Redstone Drive Northeast, Calgary, AB T3N
77         3745 Memorial Dr E #7, Calgary, AB T2A 6V4
78  537 Riverfront Avenue Southeast, Calgary, AB T...
79      9679 Macleod Trail Southwest, Calgary, AB T2V

[80 rows x 1 columns]

In [8]:
# Category
res_category = soup.find_all('div', class_='al ii br j2 c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                     Category
0                      Bakery
1                Comfort food
2                  Vietnamese
3                      Indian
4                     Alcohol
..                        ...
75                      Asian
76                      Pizza
77           South East Asian
78  Ice Cream & Frozen Yogurt
79           South East Asian

[80 rows x 1 columns]

In [9]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,7-Eleven (311 16 Ave NE),4.8,Bakery,"311 16 Ave Ne, Calgary, AB T2E 1K1"
1,Bell's Pizza,New,Comfort food,"935 5 Avenue Southwest, Calgary, NAMER T2P 0N8"
2,CO DO Vietnamese Restaurant,New,Vietnamese,"1411 17 Avenue Southwest Calgary, Ab T2t 0c3 C..."
3,Passage to India,New,Indian,"1515 14 Street Southwest, Calgary, NAMER T3C 1E1"
4,Cap Liquor,5.0,Alcohol,"2042 42 Avenue Sw Calgary, Ab T2T"

In [10]:
# Export the joined DataFrame to an Excel file
result.to_csv('greater-sudbury-on.csv', index=False)

In [22]:
browser.quit()