In [81]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [82]:
# Setting up the browser
browser = Browser('chrome')

In [83]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "winnipeg-mb/"
url = base_url + location
browser.visit(url)

In [84]:
html = browser.html
soup = soup(html, 'html.parser')

In [85]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br j2 c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                         Restaurant Name
0    7-Eleven (355 Henderson & Harbison)
1             Al Basha Restaurant & Cafe
2                          Lisbon Bakery
3           Dollarama (1114 Main Street)
4                Subway (247 Kennedy St)
..                                   ...
75                      Atiga Restaurant
76           Woodbine Hotel Bar & Vendor
77  VJoy Beverage and Dessert Restaurant
78             Panda Tea (McPhillips St)
79              Royal Punjabi restaurant

[80 rows x 1 columns]

In [86]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd j3')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.4
1     New
2     New
3     4.6
4     New
..    ...
75    4.5
76    4.9
77    4.8
78    4.6
79    3.8

[80 rows x 1 columns]

In [87]:
# Address
res_Address = soup.find_all('div', class_='fz jb al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                          Address
0      355 Henderson & Harbison, Winnipeg, MB R2K
1   1566 Pembina Highway, Winnipeg, NAMER R3T 2E9
2             717 Sargent Ave Winnipeg, Mb R3e 0,
3          1114 Main Street Winnipeg, Mb R2w 3s2,
4                247 Kennedy St, Winnipeg, MB R3C
..                                            ...
75              329 William Ave, Winnipeg, MB R3A
76              466 Main St, Winnipeg, MB R3B 1B6
77         1521 Pembina Highway, Winnipeg, MB R3T
78       1041 Mcphillips St, Winnipeg, MB R2X 2K6
79            728 Logan Ave, Winnipeg, MB R3E 1M7

[80 rows x 1 columns]

In [88]:
# Category
res_category = soup.find_all('div', class_='al ii br j2 c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                Category
0                  Wings
1               American
2   Breakfast and brunch
3                   Toys
4               American
..                   ...
75               African
76               Alcohol
77            Bubble tea
78                 Asian
79                Indian

[80 rows x 1 columns]

In [89]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,7-Eleven (355 Henderson & Harbison),4.4,Wings,"355 Henderson & Harbison, Winnipeg, MB R2K"
1,Al Basha Restaurant & Cafe,New,American,"1566 Pembina Highway, Winnipeg, NAMER R3T 2E9"
2,Lisbon Bakery,New,Breakfast and brunch,"717 Sargent Ave Winnipeg, Mb R3e 0,"
3,Dollarama (1114 Main Street),4.6,Toys,"1114 Main Street Winnipeg, Mb R2w 3s2,"
4,Subway (247 Kennedy St),New,American,"247 Kennedy St, Winnipeg, MB R3C"

In [90]:
# Export the joined DataFrame to an Excel file
result.to_csv('Winnipeg-mb.csv', index=False)

In [91]:
browser.quit()