In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "edmonton-ab/"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [7]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br j2 c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                       Restaurant Name
0         Wendy's (10365 111th Street)
1                 McDonald's (Garneau)
2           Subway (230 10111 104 Ave)
3       Burger King (13338-137 Avenue)
4        7-Eleven (11528 - 107 Avenue)
..                                 ...
75  New Gurkha Indian Restaurant & Bar
76                 Kathmandu rasoi Ltd
77           Soban Sushi & Asian Taste
78           Royal Sweets & Restaurant
79                          Raja Foods

[80 rows x 1 columns]

In [9]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd j3')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.7
1     4.6
2     New
3     4.3
4     4.9
..    ...
75    4.4
76    4.7
77    4.8
78    4.2
79    4.4

[80 rows x 1 columns]

In [14]:
# Address
res_Address = soup.find_all('div', class_='fz jb al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                           Address
0         10365 111th Street, Edmonton, AB T5K 2V3
1              8415 109th Street, Edmonton, AB T6E
2           10111 104 Ave Nw, Edmonton, AB T5J 4X1
3           13338-137 Avenue, Edmonton, AB T5L 2A9
4             11528 - 107 Avenue, Edmonton, AB T5H
..                                             ...
75          4005 Gateway Blvd Nw, Edmonton, AB T6J
76          17759 98a Ave Nw, Edmonton, AB T5T 5W8
77  7450 82 Avenue Northwest, Edmonton, AB T6B 0G2
78      5065 22 Avenue Southwest, Edmonton, AB T6X
79                5173 55 Ave Nw, Edmonton, AB T6B

[80 rows x 1 columns]

In [19]:
# Category
res_category = soup.find_all('div', class_='al ii br j2 c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

     Category
0   Fast food
1     Burgers
2    American
3    American
4      Bakery
..        ...
75     Indian
76     Indian
77      Sushi
78     Indian
79     Indian

[80 rows x 1 columns]

In [20]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Wendy's (10365 111th Street),4.7,Fast food,"10365 111th Street, Edmonton, AB T5K 2V3"
1,McDonald's (Garneau),4.6,Burgers,"8415 109th Street, Edmonton, AB T6E"
2,Subway (230 10111 104 Ave),New,American,"10111 104 Ave Nw, Edmonton, AB T5J 4X1"
3,Burger King (13338-137 Avenue),4.3,American,"13338-137 Avenue, Edmonton, AB T5L 2A9"
4,7-Eleven (11528 - 107 Avenue),4.9,Bakery,"11528 - 107 Avenue, Edmonton, AB T5H"

In [21]:
# Export the joined DataFrame to an Excel file
result.to_csv('edmonton-ab.csv', index=False)

In [22]:
browser.quit()