In [61]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [62]:
# Setting up the browser
browser = Browser('chrome')

In [63]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "london-on/"
url = base_url + location
browser.visit(url)

In [64]:
html = browser.html
soup = soup(html, 'html.parser')

In [65]:
# Restaurant name

res_name = soup.find_all('div', class_='al ii br iw c3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                                Restaurant Name
0   Burger King #3056 (1295 Oxford Street East)
1                               Frank & Burgers
2                       A&W (London Music Hall)
3                Starbucks (Richmond & Central)
4                         Canteen (172 King St)
..                                          ...
75                   BEEBA BOYZ KITCHEN AND BAR
76                    The Biryaniwalla (London)
77             Dairy Queen (720 Proudfoot Lane)
78                Shelby's Shawarma (West Five)
79                  Florence Pizza and Shawarma

[80 rows x 1 columns]

In [66]:
# Rating information 


res_Rating = soup.find_all('div', class_='br al b9 bm c3 dd ix')

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.5
1     3.7
2     4.6
3     4.7
4     3.8
..    ...
75    New
76    4.6
77    4.7
78    4.6
79    4.1

[80 rows x 1 columns]

In [67]:
# Address
res_Address = soup.find_all('div', class_='fz j5 al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0         1295 Oxford Street East, London, ON N5Y 4W4
1                     172 King Street, London, ON N6A
2   176 Dundas Street, London Music Hall, Ontario ...
3                 601 Richmond Street, London, ON N6A
4                     172 King St, London, ON N6A 1C6
..                                                ...
75       480 Sovereign Rd, Unit 9, London, ON N6M 1A4
76         1050 Kipps Lane London, On N5y 4s5 Canada,
77                 720 Proudfoot Lane, London, ON N6H
78  1876 Oxford St W, 1876 Oxford St W, London, ON...
79      2259 Dundas Street Unit 3 London, On N5v 0b5,

[80 rows x 1 columns]

In [68]:
# Category
res_category = soup.find_all('div', class_='al ii br iw c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                Category
0               American
1                 Cheese
2              Fast food
3                 Bakery
4                Burgers
..                   ...
75  Breakfast and brunch
76                Indian
77              American
78        Middle Eastern
79                 Pizza

[80 rows x 1 columns]

In [69]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Burger King #3056 (1295 Oxford Street East),4.5,American,"1295 Oxford Street East, London, ON N5Y 4W4"
1,Frank & Burgers,3.7,Cheese,"172 King Street, London, ON N6A"
2,A&W (London Music Hall),4.6,Fast food,"176 Dundas Street, London Music Hall, Ontario ..."
3,Starbucks (Richmond & Central),4.7,Bakery,"601 Richmond Street, London, ON N6A"
4,Canteen (172 King St),3.8,Burgers,"172 King St, London, ON N6A 1C6"

In [70]:
# Export the joined DataFrame to an Excel file
result.to_csv('london-on.csv', index=False)

In [71]:
browser.quit()